<div class="absolute inset-0 -z-10 h-full w-full dark:bg-[#000]">
	<div class="absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_800px_at_100%_200px,#4a90e2A0,transparent)]"></div>
</div>
