---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const blogPosts = await getCollection('blog')
---

<Layout>
	<ul>
		{blogPosts.map((post:any) => (
			<li><a href={`/blog/${post.id}`}>{post.data.title}</a></li>
		))}
	</ul>
</Layout>
