.about {
  display: flex;
  padding: 5% 5%;
}

.about h2 {
  color: white;
  padding: 5% 5% 2% 5%;
}

.ab-right {
  height: 80vh;
  width: 50%;
  display: inline-block;
  background: red;
}

.ab-left {
  height: 80vh;
  width: 50%;
  display: inline-block;
  background: blue;
}

.line {
  width: 90%;
  color: white;
  box-sizing: border-box;
  margin: 0 5%;
}

.about-desc {
  padding: 3% 5% 5% 5%;
  color: white;
}

.img {
  width: 80%;
  height: 80%;
  margin: 10%;
  background: dodgerblue;
}

@media (max-width: 760px) {
  .about {
    flex-direction: column;
    padding: 8% 5%;
  }
  .ab-right {
    height: 45vh;
    width: 100%;
  }

  .ab-left {
    height: 45vh;
    width: 100%;
  }
}
