.contactForm {
  height: 100%;
  padding: 5%;
  margin: 0 3%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

input,
textarea {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  background: inherit;
  color: #ccc;
  resize: none;
}

input {
  height: 3rem;
}

textarea {
  height: 7rem;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

button#submit {
  padding: 0.75rem 1rem;
  background: var(--secondary-color);
  color: black;
  border-radius: 1.75rem;
  border: none;
  outline: none;
  font-weight: 500;
}

button#submit:hover {
  cursor: pointer;
}
