---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import HorizontalRule from '../components/ui/HorizontalRule.astro'
---

<Layout Title="Hello">
	<div>
		<h1 class="dark:text-[#e8e6e3] text-3xl font-semibold">Hi, I'm Srinath.</h1>
		<p class="dark:text-[#e8e6e3] my-6">I'm a passionate <b>web developer</b> and a full-time Linux enthusiast. I love customizing (ricing) my desktop environment, optimizing workflows in the terminal, and diving deep into the world of minimal and efficient design.</p>
	</div>
	<div>
		<b class="dark:text-[#e8e6e3]">My Projects</b>
		<HorizontalRule/>
	</div>
	<div>
		<b class="dark:text-[#e8e6e3]">Recent Posts</b>
		<HorizontalRule/>
		<div></div>
	</div>
	<Footer/>
</Layout>
