---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import LeftBlueGradient from '../components/gradients/LeftGradient.astro'
---

<Layout>
	<Header/>
	<LeftBlueGradient/>
	<main class="lg:px-[20%] md:px-[10%] sm:px-[5%] px-6">
		<div>
			<h1 class="dark:text-white text-4xl font-semibold">Hi, I'm Srinath</h1>
		</div>
		<div class="py-[4%]"></div>
	<Footer/>
	</main>
</Layout>
