---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import LeftBlueGradient from '../components/gradients/LeftGradient.astro'
---

<Layout>
	<Header/>
	<LeftBlueGradient/>
	<main class="lg:px-[22.5%] md:px-[10%] sm:px-[5%] px-6">
		<div>
			<h1 class="dark:text-white text-4xl font-semibold">Hi, I'm Srinath.</h1>
			<p class="dark:text-white my-5">I'm a passionate web developer and a full-time Linux enthusiast. I love customizing (ricing) my desktop environment, optimizing workflows in the terminal, and diving deep into the world of minimal and efficient design.</p>
		</div>
	</main>
</Layout>
