---
import Header from "../components/Header.astro";
import Main from "../layouts/main.astro";
import About from "../layouts/about.astro";
import Projects from "../layouts/projects.astro";
import ContactMe from "../layouts/contact.astro";
import Footer from "../layouts/footer.astro";
import "../styles/globals.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <Header />
        <Main />
        <!-- <About /> -->
        <!-- <Projects/> -->
        <ContactMe />
        <Footer />
    </body>
</html>
