---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---
<button class="btn">
	{title}
</button>

<style>
.btn{
	padding: 1rem;
	width: clamp(13rem, 4vw , 20rem);
	margin: 1rem 0;
	font-weight: bolder;
	font-size: 1rem;
	&:hover{
		cursor: pointer;
	}
}
</style>
