---
const year = new Date().getFullYear();
---
<hr class="border-t border-gray-600 opacity-70 my-4">
<footer class="flex align-center justify-between py-5 mb-[4rem]">
	<div>
	</div>
	<div>
		<p class="font-medium dark:text-white">Designed and developed by Srinath</p>
		<p class="text-right dark:text-white">&copy;{year} All Rights Reserved.</p>
	</div>
</footer>
