<header class="h-[100px] w-full flex items-center justify-between flex-row">
	<a href="/"><h1 class="text-2xl font-bold">Srinath10X</h1></a>
	<ul class="flex">
		<li class="px-3 hover:underline">
			<a href="/blog">Blog</a>
		</li>
		<li class="px-3 hover:underline">
			<a href="#">Projects</a>
		</li>
	</ul>
</header>
