---

---
<section>
	<div class="top">
		<h2 id="about">About Me</h2>
	</div>
	<div class="bottom"></div>
</section>

<style>
section {
	padding: 0 5%;
	height: calc(100vh - var(--header-height));
}

h2 {
	margin-top: var(--header-height);
	text-align: center;
}
</style>
