---
import Button from '../components/Button.astro'
---
<section id="about">
	<div class="top">
		<h2>About Me</h2>
	</div>
	<div class="bottom">
		<div class="image-wrapper">
			<img src="/srinath.jpeg" alt="">
		</div>
		<div class="yapping-section">
			<p>I'm a passionate developer with a love for solving complex problems through clean and efficient code. With a strong foundation in web development and a growing expertise in languages like JavaScript, C++, and Java, I enjoy building intuitive, user-friendly applications.<br/><br/>Btw This website is built using astro</p>
		  <Button title="Download CV"/>
		</div>
	</div>
</section>

<style>
section {
	padding: 0 5%;
	height: calc(100vh - var(--header-height));
	/* height: 100vh; */
	padding-bottom: 10%;
}

h2 {
	margin-top: var(--header-height);
	padding-top: 10%;
	text-align: center;
}

.bottom {
	height: calc(100% - var(--header-height));
	display: flex;
	padding: 0 8%;
	padding-top: 5rem;
}

.image-wrapper {
	display: flex;
	width: 32%;
}

.yapping-section {
	width: 68%;
	padding: 8% 10%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	p {
		font-size: 1.25rem;
	}
}

.image-wrapper img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}
</style>
