---
import LeftGradient from "../components/gradients/LeftGradient.astro";
const { Title } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{Title}</title>
	</head>
	<body class="dark:bg-[#181a1b] dark:text-[#e8e6e3] lg:px-[22.5%] md:px-[12.5%] sm:px-[5%] px-8 py-[5%]">
		<LeftGradient/>
		<slot />
	</body>
</html>
