---
const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="dark:bg-[#020817] dark:text-[#f8fafc] lg:px-[22.5%] md:px-[12.5%] sm:px-[5%] px-8 py-[5%]">
    <slot />
  </body>
</html>

<style>
:global(pre.astro-code) {
  padding: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  background-color: #000d27 !important;
}

:global(h1) {
  font-size: 2.5rem !important;
  font-weight: 700;
  line-height: 1.2;
}

:global(h2) {
  font-size: 2rem !important;
  margin: 1.5rem 0;
  font-weight: 600;
  line-height: 1.3;
}

:global(h3) {
  margin: 1rem 0;
  font-size: 1.5rem !important;
  font-weight: 600;
}

:global(p) {
  font-size: 1.125rem;
  line-height: 1.8;
  font-weight: 500;
}

:global(a) {
  color: #2563eb;
  text-decoration: underline;
}

:global(ul),
:global(ol) {
  margin-left: 1.5rem;
  margin-bottom: 1.25rem;
}

:global(li) {
  list-style: circle;
  font-weight: 500;
  font-size: 1.125rem;
}

:global(blockquote) {
  padding-left: 1rem;
  font-style: italic;
  margin: 1.5rem 0;
  background: #313244;
  padding: 1rem;
  border-radius: 0.5rem;
}

:global(img) {
  max-width: 100%;
  margin: 1rem 0;
  border-radius: 0.5rem;
}
</style>
