---
import Button from "../components/Button.astro"
---
<section id="contact">
	<div class="right">
		<h2>Let's Connect</h2>
		<p>I'm currently avaliable to take on new projects, so feel free to send me  a message about anything that you want me to work on. You can contact  anytime.</p>
	</div>
	<div class="left">
		<form action="">
			<label for="name">Your Name</label>
			<input id="name" type="text" placeholder="Enter your name"/>
			<label for="email">Your Email</label>
			<input id="email" type="email" placeholder="Enter your email"/>
			<label for="message">Your Message</label>
			<textarea name="message" id="message" placeholder="Enter your message"></textarea>
			<Button title="Send"/>
		</form>
	</div>
</section>

<style>
section{
	height: 100vh;
	display: flex;
	padding: 7%;
	padding-top: 10%;
	padding-bottom: 3%;
}

h2{
	font-size: 3rem;
	font-weight: 500;
	padding: 5% 0;
}

p{
	font-size: 1.125rem;
}

form {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

div.right{
	width: 40%;
}

div.left{
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: start;
	flex-direction: column;
	width: 60%;
}

input{
	padding: 1rem;
	background: inherit;
	color: inherit;
	outline: none;
	border: 2px solid rgba(81, 81, 81, 0.7);
	border-radius: .5rem;
	width: 100%;
	font-size: 1rem;
}

textarea{
	resize: none;
	width: 100%;
	padding: 1rem;
	background: inherit;
	color: inherit;
	outline: none;
	border: 2px solid rgba(81, 81, 81, 0.7);
	border-radius: .5rem;
	height: 30%;
	font-size: 1rem;
}
</style>
