---
const year = new Date().getFullYear();
---
<hr class='hr'/>
<footer>
	<div class="socials">
		<img src="Socials.svg" alt="">
	</div>
	<div class="rights">
		<p class='developed'>Designed and Developed by Srinath10X</p>
		<p class="rights">&copy; {year} All Rights Reserved.</p>
	</div>
</footer>

<style>
.hr{
	margin: 0 5%;
	width: 90%;
	color: rgba(81,81,81,0.7);
}

footer{
	padding: 3% 5.5%;
	padding-bottom: 5%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.developed {
	font-size: 1.1rem;
	font-weight: 500; 
}

.rights{
	text-align: right;
}

.socials{
	img{
		height: 1.5rem;
	}
}
</style>
