---
import Header from '../components/Header.astro';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="dark:bg-[#020817] dark:text-[#f8fafc] lg:px-[25%] md:px-[15%] sm:px-[10%] px-8 relative">
		<div class="absolute top-0 right-0 z-[-2] h-screen w-screen bg-[radial-gradient(100%_50%_at_50%_0%,rgba(0,163,255,0.2)_0,rgba(0,163,255,0)_50%,rgba(0,163,255,0)_100%)]"></div><Header/>
		<slot />
	</body>
</html>
