---
---
<section id="work">
	<div class="top">
		<h2>Creating Websites that inspire</h2>
	</div>
	<div class="bottom"></div>
</section>

<style>
section { 
	padding: 10%;
	height: 100vh;
	h2 {
		text-align: center;
	}
}


</style>
